* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F9F2;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.size-btn {
    width: 4rem;
}

.grid-container {
    width: 60%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid red;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #666;
    background-color: #f0f0f0;
}

.rows {
    display: flex;
    width: 100%;
}

.cols {
    width: 100%;
    height: 100%;
}